@font-face {
    font-family: 'Basic'; 
    src: url(../fonts/basic.otf);
}

.text{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto 20px;
}

.text p.title{
    font-size: 64px;
    text-align: center;
    margin-bottom: 20px;
}

.text p.subtitle{
    font-size: 32px;
    text-align: center;
    max-width: 900px;
}



.tests{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 100px;
}

.row{
    display: flex;
    width: 100%
}

.test{
    width: 100%;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: #fff;
    margin: 15px;
    text-decoration: none;
}

.shadow{
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: ease 0.25s;
}

.shadow:hover{
	background: rgba(0, 0, 0, 0.5);
	transition: ease 0.3s;
    cursor: pointer;
}

.test p.tag{
	font-family: 'Basic', sans-serif;
	font-size: 24px;
	border: 1px solid #fff;
	padding: 7px 20px 5px;
	margin-bottom: 20px;
}

.test p.title{
	font-size: 36px;
	/*margin-bottom: 40px;*/
	margin-bottom: 10px;
}

.test p.difficult{
	font-size: 18px;
	margin-bottom: 50px;
}