{% extends './base.html' %}
{% load static %}

{% block title %}Moon Test - лучшие тесты по космосу{% endblock %}

{% block content %}
    <div class="text">
        <p class="title">Тесты ко дню “Космонавтики”</p>
        <p class="subtitle">
            В честь дня “Космонавтики” мы создали пару занятных 
            тестов, чтобы вы смогли проверить себя и освежить 
            знания
        </p>
    </div>
    <div class="tests">

        {% for test in tests %}
        <div class="row">
            <a class="test" href="{% url 'test_detail' slug=test.url %}"
            style="
            background: url(/media/{{test.image}}); 
            background-repeat: no-repeat; 
            background-size: cover;
            background-position: center;
            ">
                <div class="shadow">
                    <p class="tag">{{ test.tag|upper }}</p>
                    <p class="title">{{ test.title }}</p>
                    <p class="difficult">Сложность | {{ test.difficult }}</p>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}